@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@font-face {
  font-family: Norse;
  src: url("Norse-Bold.otf");
}

@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("Norse-Bold.otf");
}

#container {
  display: flex;
  align-items: center;
  height: 700px;
  max-width: 90%;
  border-radius: 1rem;
  box-shadow: 0 0 15px 2px #ddd;
  overflow: hidden;
}
/* Left section */
#left {
  background-image: url("bg-img.jpg");
  height: 100%;
  width: 35%;
  background-repeat: no-repeat;
}

#logo {
  margin-top: 30%;
  background: rgba(0, 0, 0, 0.5);
  height: 150px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Norse;
  font-size: 3rem;
}

#logo img {
  max-height: 100%;
}
/* Right section */

main {
  height: 100%;
  max-width: 65%;
  background-color: #fafafa;
}

form {
  height: 77%;
}

fieldset {
  border: none;
  display: flex;
  gap: 3rem;
}

.formCell {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  width: 33%;
}

/* 
form {
  width: calc(66.6666666666666vw);
  margin-left: 5%;
  border-style: hidden;
  justify-content: space-around;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#inputFields {
  display: flex;
  margin: 10rem;
  justify-content: space-evenly;
}
fieldset {
  border-style: hidden;
}

input {
  border-radius: 5px;
  border-color: #e5e7eb;
}

#bottom {
  margin-left: calc(100vw * 0.25);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: calc(0.25 * 100vw);
  justify-content: space-around;
}

#submit {
  background-color: #596d48;
  color: #ffffff;
  border-radius: 3px;
  width: calc(0.1 * 100vw);
  border-style: none;
} */
