@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@font-face {
  font-family: Norse;
  src: url("Norse-Bold.otf");
}

/* #background {
  width: calc(33.33333vw);
  height: 100vh;
}

form {
  width: calc(66.6666666666666vw);
  margin-left: 5%;
  border-style: hidden;
  justify-content: space-around;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#inputFields {
  display: flex;
  margin: 10rem;
  justify-content: space-evenly;
}
fieldset {
  border-style: hidden;
}

input {
  border-radius: 5px;
  border-color: #e5e7eb;
}

#bottom {
  margin-left: calc(100vw * 0.25);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: calc(0.25 * 100vw);
  justify-content: space-around;
}

#submit {
  background-color: #596d48;
  color: #ffffff;
  border-radius: 3px;
  width: calc(0.1 * 100vw);
  border-style: none;
} */
