@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@font-face {
  font-family: Norse;
  src: url("Norse-Bold.otf");
}

@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("Norse-Bold.otf");
}

/* Entire webpage */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
#container {
  display: flex;
  align-items: center;
  height: 700px;
  max-width: 90%;
  border-radius: 1rem;
  box-shadow: 0 0 15px 2px #ddd;
  overflow: hidden;
}
/* Left section */
#left {
  background-image: url("bg-img.jpg");
  height: 100%;
  width: 35%;
  background-repeat: no-repeat;
}

#logo {
  margin-top: 30%;
  background: rgba(0, 0, 0, 0.5);
  height: 150px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Norse;
  font-size: 3rem;
}

#logo img {
  max-height: 100%;
}
/* Right section */

main {
  height: 100%;
  max-width: 65%;
  background-color: #fafafa;
}

form {
  height: 77%;
}

#form-container {
  background-color: #fff;
  padding: 2rem 2rem;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.5);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3rem;
}

#form-container p {
  font-size: 1.25rem;
  font-weight: 600;
}

fieldset {
  border: none;
  display: flex;
  gap: 3rem;
}

.formCell {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  width: 33%;
}

.form-cell label {
  font-size: 0.7rem;
  font-weight: 500;
}

form input {
  border: 1px solid #d6d9dc;
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
}

/* 
form {
  width: calc(66.6666666666666vw);
  margin-left: 5%;
  border-style: hidden;
  justify-content: space-around;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#inputFields {
  display: flex;
  margin: 10rem;
  justify-content: space-evenly;
}
fieldset {
  border-style: hidden;
}

input {
  border-radius: 5px;
  border-color: #e5e7eb;
}

#bottom {
  margin-left: calc(100vw * 0.25);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: calc(0.25 * 100vw);
  justify-content: space-around;
}

#submit {
  background-color: #596d48;
  color: #ffffff;
  border-radius: 3px;
  width: calc(0.1 * 100vw);
  border-style: none;
} */
